@inject IHttpContextAccessor Acessor

@model HD_SUPPORT.Models.CadastroHelpDesk;

@{
    ViewData["Title"] = "Perfil";
}
<head>
    <link rel="stylesheet" href="~/css/perfil.css">
    <link rel="stylesheet" href="~/css/video.css">
</head>
<body>
    <div class="content-stars">
        <video src="~/images/pexels_videos_2792967 (1440p).mp4" autoplay loop muted></video>
    </div>
    <div class="container">
        <div class="content">
            <div class="profile">
                <div class="img-profile">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Acessor.HttpContext.Session.Get("foto"))" width="500px" height="120px">
                </div>
                <div class="nome">
                    <h1>@Acessor.HttpContext.Session.GetString("nome")</h1>
                </div>
                <div class="informacoes">
                    <p>Email: @Acessor.HttpContext.Session.GetString("email")</p>
                    <p>Senha: @Acessor.HttpContext.Session.GetString("senha")</p>
                </div>
                <div class="btns">
                    <div class="btn-editar">
                            <a role="button" onclick="ModalEditarPerfil(@Acessor.HttpContext.Session.GetInt32("Id"))">Editar</a>
                    </div>
                    <div class="btn-excluir">
                        <button class="btn-excluir" type="button" data-bs-toggle="modal" data-bs-target="@("#DeleteHDModal" + Model.Id.ToString())" data-bs-url="@Url.Action($"Delete/{Model.Id}")">
                            Excluir
                        </button>
                    </div>
                    <div class="btn-sair">
                        <a role="button" asp-controller="Home" asp-action="LogOut" class="btn btn-danger">Sair</a>
                    </div>
                    <div class="voltar">
                        <a role="button" asp-action="Index" asp-controller="CadastroFunc">voltar</a>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_ExcluirHDPartialView", Model)

    </div>

    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">Editar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body" id="editarModalBody">
                    
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script>
        function ModalEditarPerfil(id) {
            $.ajax({
                url: '/CadastroHelpDesk/Edit/' + id,
                type: 'GET',
                success: function (data) {
                    $('#editarModalBody').html(data);
                    $('#editarModal').modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}


