@model CadastroEquip

<div class="modal fade" id="@("DetalhesEquipModal"+Model.Id.ToString())" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" asp-for="@Model.Id"/>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes da Maquina @Model.IdPatrimonio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="topico">
                    <label><u>Numero do Patrimonio:</u></label>
                    <p>@Model.IdPatrimonio</p>
                </div>
                <div class="topico">
                    <label><u>Numero do Patrimonio:</u></label>
                    <p>@Model.IdPatrimonio</p>
                </div>
                <div class="topico">
                    <label><u>Modelo:</u></label>
                    <p>@Model.Modelo</p>
                </div>
                <div class="topico">
                    <label><u>Processador:</u></label>
                    <p>@Model.Processador</p>
                </div>

                <div class="topico">
                    <label><u>Status</u></label>
                    <p>
                        @if (@Model.Disponivel)
                        {
                            <text>Disponível</text>
                        }
                        else
                        {
                            <text>Indisponível</text>
                        }
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>