@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Acessor

@model IEnumerable<HD_SUPPORT.Models.CadastroEquip>

@{
    ViewData["Title"] = "Maquinas";
}
@section Header {
    <header>
        <div class="logo_bne">
            <img src="~/images/logo_bne.png" alt="">
        </div>
        <div class="icon_menu" onclick="toggleMenu()">
            <img src="~/images/menu_icon.png" alt="">
        </div>
        <div class="side-menu" id="sideMenu">
            <div class="close_menu">
                <img src="~/images/9110796_x_icon.png" alt="" width="40px">
            </div>
            @if (Acessor.HttpContext.Session.GetString("profissional") == "HelpDesk")
            {
                <a class="dropdown-item" asp-controller="Emprestimo" asp-action="Index">Tabela Emprestimos</a>
            }
            <a class="dropdown-item" asp-controller="CadastroEquip" asp-action="Index">Tabela Equipamentos</a>
            <a class="dropdown-item" asp-controller="CadastroFunc" asp-action="Index">Tabela Funcionarios</a>
            <div>
                @if (Acessor.HttpContext.Session.GetString("nome") != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Acessor.HttpContext.Session.Get("foto"))" width="50" height="50">
                    @Acessor.HttpContext.Session.GetString("nome")
                    <a class="dropdown-item" asp-area="" asp-controller="CadastroHelpDesk" asp-action="Perfil">Perfil</a>
                }
            </div>
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="LogOut">Sair</a>
        </div>
    </header>

}
<head>
    <link rel="stylesheet" href="~/css/Modals.css" />
    <link rel="stylesheet" href="~/css/Tebela.css" />
</head>

<div class="align-content-center">
    <div class="TableContainer">
        <div class="table-menu">
            <form asp-action="Index" asp-controller="CadastroEquip">
                <a role="button">
                    <i class="bi bi-search"></i>
                </a>
                <input type="search" placeholder="Faça sua pesquisa" name="SearchString">
                <select name="disponivel">
                    <option value="2">
                        Ambos
                    </option>
                    <option value="1">
                        Dísponivel
                    </option>
                    <option value="0">
                        Indisponível
                    </option>
                </select>
            </form>
            <span>
                <a asp-action="Index">
                    <i class="bi bi-x-lg"></i>
                </a>     
            </span>
        </div>
        <table id="table-position" class="table table-hover">
            <thead class="thead-style">
                <tr class="tr-style">
                    <th>
                        Id do patrimônio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Processador)
                    </th>
                    <th>
                        Sistema Operacional
                    </th>
                    <th>
                        Disponível
                    </th>

                    <th scope="col">
                        <div class="button-add">
                            <button type="button" class="bntAdicionar">
                                Adicionar
                            </button>
                        </div>
                            
                   </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="tbody-style">
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPatrimonio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Processador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SistemaOperacionar)
                        </td>
                        <td>
                            @if (item.Disponivel)
                            {
                                <text>Disponível</text>
                            }
                            else
                            {
                                <text>Indisponível</text>
                            }
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">


                                <button type="button" Equipamento-id="@item.Id" class="btn btn-dark BtnEditar">
                                        <i class="bi bi-pencil-square"></i>
                                </button>
                                
                                

                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="@("#DetalhesEquipModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Detalhes/{item.Id}")">
                                    <i class="bi bi-newspaper"></i>
                                </button>

                                @await Html.PartialAsync("_DetalhesEquipPartialView", item)

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteEquipModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Delete/{item.Id}")">
                                    <i class="bi bi-trash-fill"></i>
                                </button>

                                @if (Acessor.HttpContext.Session.GetString("profissional") == "HelpDesk")
                                {
                                    @await Html.PartialAsync("_ExcluirEquipPartialView", item);
                                }

                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>



        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-right"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="modal fade" id="ModelErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Erro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ModelErro">
                            <p>@TempData["ErroAtualizacao"]</p>
                        </div>
                    </div>
                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="EditarEquipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar partrimonio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="EditModal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NovoEquipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Maquina</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="NovaMaquina">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/jquery.inputmask.js"></script>
        <script>
            $(document).ready(function () {
                var erroAtualizacao = "@TempData["ErroAtualizacao"]";

                if (erroAtualizacao) {
                    setTimeout(function () {
                        $('#ModelErro').modal('show');
                    }, 100);
                }

                $('.BtnEditar').click(function () {
                    var equipamentoId = $(this).attr('Equipamento-id');
                    $.ajax({
                        type: 'GET',
                        url: '/CadastroEquip/Edit/' + equipamentoId,
                        success: function (result) {
                            $("#EditModal").html(result);
                            $('#EditarEquipModal').modal('show');
                        }
                    })
                });
                $('.bntAdicionar').click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/CadastroEquip/NovoCadastro',
                        success: function (result) {
                            $("#NovaMaquina").html(result);
                            $('#NovoEquipModal').modal('show');
                        }
                    })
                });

            });
        </script>
    }







