@model EmprestimoViewModel
@{
    ViewData["Title"] = "Detalhes ";
}
<div class="modal fade" id="@("DetalhesEmprestimoModal"+Model.Id.ToString())" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">>Detalhes sobre o emprestimo do Funcionario @Model.Funcionario.Nome</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="topico">
                    <label><u>Nome:</u></label>
                    <p>@Model.Funcionario.Nome</p>
                </div>
                <div class="topico">
                    <label><u>E-Mail:</u></label>
                    <p>@Model.Funcionario.Email</p>
                </div>
                <div class="topico">
                    <label><u>Telegram:</u></label>
                    <p>@Model.Funcionario.Telegram</p>
                </div>
                <div class="topico">
                    <label><u>Telefone:</u></label>
                    <p>@Model.Funcionario.Telefone</p>
                </div>
                <div class="topico">
                    <label><u>Status:</u></label>
                    <p>@Model.Funcionario.Status</p>
                </div>
                <div class="topico">
                    <label><u>Categoria:</u></label>
                    <p>@Model.Funcionario.Categoria</p>
                </div>
                <div class="topico">
                    <label><u>Numero do Patrimonio:</u></label>
                    <p>@Model.Equipamento.IdPatrimonio</p>
                </div>
                <div class="topico">
                    <label><u>Modelo:</u></label>
                    <p>@Model.Equipamento.Modelo</p>
                </div>
                <div class="topico">
                    <label><u>Processador:</u></label>
                    <p>@Model.Equipamento.Processador</p>
                </div>
                <div class="topico">
                    <label><u>Sistema Operacional:</u></label>
                    <p>@Model.Equipamento.SistemaOperacionar</p>
                </div>
                <div class="topico">
                    <label><u>HeadSet:</u></label>
                    <p>@Model.Equipamento.HeadSet</p>
                </div>
                <div class="topico">
                    <label><u>Data de inicio do Emprestimo:</u></label>
                    <p>@Model.Equipamento.DtEmeprestimoInicio</p>
                </div>











            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#telefone").inputmask('(99) 99999-9999');
            $("#telegram").inputmask('(99) 99999-9999');
            $("#cpf").inputmask('999.999.999-99');
        });
    </script>
}