@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Acessor
@model IEnumerable<HD_SUPPORT.Models.EmprestimoViewModel>

@{
    ViewData["Title"] = "Emprestimos";
}
@section Header {
    <header>
        <div class="logo_bne">
            <img src="~/images/logo_bne.png" alt="">
        </div>
        <div class="icon_menu" onclick="toggleMenu()">
            <img src="~/images/menu_icon.png" alt="">
        </div>
        <div class="side-menu" id="sideMenu">
            <div class="close_menu">
                <img src="~/images/9110796_x_icon.png" alt="" width="40px">
            </div>
            @if(Acessor.HttpContext.Session.GetString("profissional") == "HelpDesk")
            {
                <a class="dropdown-item" asp-controller="Emprestimo" asp-action="Index">Tabela Emprestimos</a>
            }
            <a class="dropdown-item" asp-controller="CadastroEquip" asp-action="Index">Tabela Equipamentos</a>
            <a class="dropdown-item" asp-controller="CadastroFunc" asp-action="Index">Tabela Funcionarios</a>
            <div>
                @if (Acessor.HttpContext.Session.GetString("nome") != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Acessor.HttpContext.Session.Get("foto"))" width="50" height="50">
                    @Acessor.HttpContext.Session.GetString("nome")
                    <a class="dropdown-item" asp-area="" asp-controller="CadastroHelpDesk" asp-action="Perfil">Perfil</a>
                }
            </div>
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="LogOut">Sair</a>
        </div>
    </header>

}
<head>
    <link rel="stylesheet" href="~/css/Tabela.css" />
    <link rel="stylesheet" href="~/css/Modals.css" />
</head>

<div class="align-content-center">
    <div class="content-tabela">
        <div class="table-menu">

            <div class="search-div">
                <form asp-action="Index" class="form" asp-controller="CadastroFunc">
                    <a role="button">
                        <i class="bi bi-search"></i>
                    </a>
                    <input class="input" placeholder="Faça sua pesquisa" required="" type="text">
                    <button class="reset" type="reset">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </form>
            </div>
        

        </div>
        <table id="table-position" class="table table-hover">
            <thead class="thead-style">
                <tr class="tr-style">
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Categoria)
                    </th>
                    <th>
                        Id do patrimônio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipamento.Modelo)
                    </th>
                    <th>
                        Data de início de empréstimo
                    </th>


                    <th scope="col">
                        <div class="button-add">
                            <button type="button" id="btnNovoEmprestimo">Adicionar</button>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="tbody-style">
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.IdPatrimonio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.Modelo)
                        </td>
                        <td>
                            @{
                                string parameterValue = null;
                                if (item.Equipamento != null)
                                {
                                    parameterValue = item.Equipamento.DtEmeprestimoInicio.ToString("dd/MM/yyyy");
                                }
                            }
                            @Html.DisplayFor(modelItem => parameterValue)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" Emprestimo-id="@item.Id" class="btn btn-primary BtnEditar">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="@("#DetalhesEmprestimoModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Detalhes/{item.Id}")">
                                    <i class="bi bi-newspaper"></i>
                                </button>

                                @await Html.PartialAsync("_DetalhesEmprestimoPartialView", item)

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteEmprestimoModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Delete/{item.Id}")">
                                    <i class="bi bi-trash-fill"></i>
                                </button>

                                @await Html.PartialAsync("_ExcluirEmprestimoPartialView", item)
                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>



        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (TempData["paginaAtual"] != null)
                    {
                        var pagina = Convert.ToInt32(TempData["paginaAtual"]);


                        <form asp-action="Index" asp-controller="Emprestimo">
                            <input hidden name="searchString" value="@TempData["pesquisa"]">
                            <input hidden name="paginaAtual" value="@(pagina-1)">
                            @if (pagina != 1)
                            {
                                <button class="page-link" type="submit"><i class="bi bi-arrow-left"></i></button>
                            }
                            else
                            {
                                <a class="page-link"><i class="bi bi-arrow-left"></i></a>
                            }
                        </form>


                        <li class="page-item">
                            <form asp-action="Index" asp-controller="Emprestimo">
                                <input hidden name="searchString" value="@TempData["pesquisa"]">
                                <input hidden name="paginaAtual" value="1">
                                @if (pagina != 1)
                                {
                                    <button class="page-link" type="submit">1</button>
                                }
                                else
                                {
                                    <a class="page-link" style="color:black">1</a>
                                }
                            </form>
                        </li>

                        var dados = Convert.ToDouble(TempData["QuantidadeDados"]);
                        dados = Math.Ceiling(dados / 6);

                        var diferenca = 0;

                        if (pagina < 5)
                        {
                            diferenca = 5 - pagina;
                        }


                        if (pagina > dados - 5)
                        {
                            diferenca = (Convert.ToInt32(dados) - pagina) - 4;
                        }


                        for (var i = pagina - 3; i < pagina + 4; i++)
                        {
                            var pag = i + diferenca;
                            if (pag > 1 && pag < dados)
                            {
                                <li class="page-item">
                                    <form asp-action="Index" asp-controller="Emprestimo">
                                        <input hidden name="searchString" value="@TempData["pesquisa"]">
                                        <input hidden name="paginaAtual" value="@pag">
                                        @if (pag != pagina)
                                        {
                                            <button class="page-link" type="submit">@pag</button>
                                        }
                                        else
                                        {
                                            <a class="page-link" style="color:black">@pag</a>
                                        }

                                    </form>
                                </li>
                            }
                        }

                        <li class="page-item">
                            <form asp-action="Index" asp-controller="Emprestimo">
                                <input hidden name="searchString" value="@TempData["pesquisa"]">
                                <input hidden name="paginaAtual" value="@dados">
                                @if (dados != pagina)
                                {
                                    <button class="page-link" type="submit">@dados</button>
                                }
                                else
                                {
                                    <a class="page-link" style="color:black">@dados</a>
                                }
                            </form>
                        </li>


                        <form asp-action="Index" asp-controller="Emprestimo">
                            <input hidden name="searchString" value="@TempData["pesquisa"]">
                            <input hidden name="paginaAtual" value="@(pagina+1)">
                            @if (pagina != dados)
                            {
                                <button class="page-link" type="submit"><i class="bi bi-arrow-right"></i></button>
                            }
                            else
                            {
                                <a class="page-link"><i class="bi bi-arrow-right"></i></a>
                            }
                        </form>
                    }
                </ul>
            </nav>
        </div>

        <div class="qnt-func">
            <p style="color:gray">Mostrando @TempData["QuantidadeDadosTabela"] de @TempData["QuantidadeDados"] funcionários</p>
        </div>

        <div class="modal fade" id="ModelErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tente Novamente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ModelErro">
                            <p>@TempData["ErroAtualizacao"]</p>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditarEmprestimoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Emprestimo do </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="ModalEditarEmpresitmo">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NovoEmprestimoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Emprestimo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="ModalNovoEmprestimo">

                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <script src="~/js/jquery.inputmask.js"></script>
        <script>

            $(document).ready(function () {

                var erroAtualizacao = "@TempData["ErroAtualizacao"]";
                var emprestimoId;

                if (erroAtualizacao) {
                    setTimeout(function () {
                        $('#ModelErro').modal('show');
                    }, 100);
                }
                $('.BtnEditar').click(function () {
                    emprestimoId = $(this).attr('Emprestimo-id');
                    $.ajax({
                        type: 'GET',
                        url: '/Emprestimo/Edit/' + emprestimoId,
                        success: function (result) {
                            $("#ModalEditarEmpresitmo").html(result);
                            $('#EditarEmprestimoModal').modal(`show`);
                        }
                    })
                });
                $('#btnNovoEmprestimo').click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/Emprestimo/NovoEmprestimo',
                        success: function (result) {
                            $("#ModalNovoEmprestimo").html(result);
                            $('#NovoEmprestimoModal').modal('show');
                        }
                    });
                });
            });
        </script>
    }





