@using Microsoft.AspNetCore.Http

@model IEnumerable<HD_SUPPORT.Models.EmprestimoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="align-content-center">
    <div class="TableContainer">
        <div class="table-menu">
            <form asp-action="Index" asp-controller="Emprestimo">
                <a role="button">
                    <i class="bi bi-search"></i>
                </a>
                <input type="search" placeholder="Faça sua pesquisa" name="SearchString">
            </form>
            <span>
                <a asp-action="Index">
                    <i class="bi bi-x-lg"></i>
                </a>
            </span>
        </div>
        <table id="table-position" class="table table-hover">
            <thead class="thead-style">
                <tr class="tr-style">
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Categoria)
                    </th>
                    <th>
                        Id do patrimônio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipamento.Modelo)
                    </th>
                    <th>
                        Data de início de empréstimo
                    </th>


                    <th scope="col"><div class="button-add"><a role="button" asp-action="NovoEmprestimo"><button>Adicionar</button></a></div></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="tbody-style">
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.IdPatrimonio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.Modelo)
                        </td>
                        <td>
                            @{
                                string parameterValue = null;
                                if (item.Equipamento != null)
                                {
                                    parameterValue = item.Equipamento.DtEmeprestimoInicio.ToString("dd/mm/yyyy");
                                }
                            }
                            @Html.DisplayFor(modelItem => parameterValue)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                <a role="button" class="btn btn-success" asp-action="Detalhes" asp-route-id="@item.Id"><i class="bi bi-newspaper"></i></a>
                                <form asp-action="Excluir" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>



        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-right"></i></a></li>
                </ul>
            </nav>
        </div>

    </div>





