@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Acessor
@model IEnumerable<HD_SUPPORT.Models.EmprestimoViewModel>

@{
    ViewData["Title"] = "Emprestimos";
}
@section Header {
    <header>
        <div class="logo_bne">
            <h1>Help Desk</h1>
        </div>
        <div class="conjunto">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tabelas
                </button>
                <ul class="dropdown-menu">
                    @if (Acessor.HttpContext.Session.GetString("profissional") == "HelpDesk")
                    {
                        <li><a class="dropdown-item" asp-controller="Emprestimo" asp-action="Index" style="color:#0169fd;">Emprestimos</a></li>
                    }
                    <li><a class="dropdown-item" asp-controller="CadastroEquip" asp-action="Index" style="color:#0169fd;">Equipamentos</a></li>
                    <li><a class="dropdown-item" asp-controller="CadastroFunc" asp-action="Index" style="color:#0169fd;">Funcionários</a></li>
                </ul>
            </div>

            <div class="perfil">
                @if (Acessor.HttpContext.Session.GetString("nome") != null)
                {
                    <a class="dropdown-item" id="drop" asp-area="" asp-controller="CadastroHelpDesk" asp-action="Perfil">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Acessor.HttpContext.Session.Get("foto"))" style="border-radius: 50%; position: relative; right: 10px;" width="30" height="30">
                        @Acessor.HttpContext.Session.GetString("nome")
                    </a>
                }
            </div>
            
        </div>
    </header>

}
<head>
    <link rel="stylesheet" href="~/css/video.css" />
    <link rel="stylesheet" href="~/css/Tebela.css" />
    <link rel="stylesheet" href="~/css/Modals.css" />
</head>

<style>



    .button-add button {
        background-color: #0169fd;
        color: white;
        border: none;
        border: 1px solid white;
        padding: 5px;
        width: 80%;
        border-radius: 10px;
        cursor: pointer;
        transition: ease all 0.3s;
    }

        .button-add button:hover {
            background-color: white;
            color: #0169fd;
        }

</style>

<div class="content-stars">
    <video src="~/images/pexels_videos_2792967 (1440p).mp4" autoplay loop muted></video>
</div>
<div class="align-content-center">
    <div class="content-tabela">
        <div class="table-menu">

            <div class="search-div" id="search-emprestimo">
                <p style="color:white">Mostrando @TempData["QuantidadeDadosTabela"] de @TempData["QuantidadeDados"] empréstimos</p>
                <form asp-action="Index" asp-controller="Emprestimo" class="form">
                    <input type="search" placeholder="Faça sua pesquisa" name="SearchString" value="@TempData["pesquisa"]" class="input">
              
                    <button class="reset" type="reset">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </form>
                <select name="ordenar" id="select-emprestimo">
                    <option value="ordenar">
                        Recentes
                    </option>
                    @if (TempData["ordem"].ToString() == "az")
                    {
                        <option value="az" selected>
                            De A-Z
                        </option>
                    }
                    else
                    {
                        <option value="az">
                            De A-Z
                        </option>
                    }
                    @if (TempData["ordem"].ToString() == "za")
                    {
                        <option value="za" selected>
                            De Z-A
                        </option>
                    }
                    else
                    {
                        <option value="za">
                            De Z-A
                        </option>
                    }
                </select>
            </div>


        </div>
        <table id="table-position" class="table table-hover">
            <thead class="thead-style">
                <tr class="tr-style">
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Categoria)
                    </th>
                    <th>
                        Id do patrimônio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipamento.Modelo)
                    </th>
                    <th>
                        Data de início de empréstimo
                    </th>


                    <th scope="col">
                        <div class="button-add">
                            <button type="button" id="btnNovoEmprestimo" class="btnAdicionar">Adicionar</button>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="tbody-style">
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.IdPatrimonio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipamento.Modelo)
                        </td>
                        <td>
                            @{
                                string parameterValue = null;
                                if (item.Equipamento != null)
                                {
                                    parameterValue = item.Equipamento.DtEmeprestimoInicio.ToString("dd/MM/yyyy");
                                }
                            }
                            @Html.DisplayFor(modelItem => parameterValue)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" Emprestimo-id="@item.Id" class="btn btn-primary BtnEditar">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="@("#DetalhesEmprestimoModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Detalhes/{item.Id}")">
                                    <i class="bi bi-newspaper"></i>
                                </button>

                                @await Html.PartialAsync("_DetalhesEmprestimoPartialView", item)

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteEmprestimoModal" + item.Id.ToString())" data-bs-url="@Url.Action($"Delete/{item.Id}")">
                                    <i class="bi bi-trash-fill"></i>
                                </button>

                                @await Html.PartialAsync("_ExcluirEmprestimoPartialView", item)
                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>



        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (TempData["paginaAtual"] != null)
                    {
                        var pagina = Convert.ToInt32(TempData["paginaAtual"]);


                        <form asp-action="Index" asp-controller="Emprestimo">
                            <input hidden name="searchString" value="@TempData["pesquisa"]">
                            <input hidden name="paginaAtual" value="@(pagina-1)">
                            @if (pagina != 1)
                            {
                                <button class="page-link" type="submit"><i class="bi bi-arrow-left"></i></button>
                            }
                            else
                            {
                                <a class="page-link"><i class="bi bi-arrow-left"></i></a>
                            }
                        </form>


                        <li class="page-item">
                            <form asp-action="Index" asp-controller="Emprestimo">
                                <input hidden name="searchString" value="@TempData["pesquisa"]">
                                <input hidden name="paginaAtual" value="1">
                                @if (pagina != 1)
                                {
                                    <button class="page-link" type="submit">1</button>
                                }
                                else
                                {
                                    <a class="page-link" style="color:black">1</a>
                                }
                            </form>
                        </li>

                        var dados = Convert.ToDouble(TempData["QuantidadeDados"]);
                        dados = Math.Ceiling(dados / 6);

                        var diferenca = 0;

                        if (pagina < 5)
                        {
                            diferenca = 5 - pagina;
                        }


                        if (pagina > dados - 5)
                        {
                            diferenca = (Convert.ToInt32(dados) - pagina) - 4;
                        }


                        for (var i = pagina - 3; i < pagina + 4; i++)
                        {
                            var pag = i + diferenca;
                            if (pag > 1 && pag < dados)
                            {
                                <li class="page-item">
                                    <form asp-action="Index" asp-controller="Emprestimo">
                                        <input hidden name="searchString" value="@TempData["pesquisa"]">
                                        <input hidden name="paginaAtual" value="@pag">
                                        @if (pag != pagina)
                                        {
                                            <button class="page-link" type="submit">@pag</button>
                                        }
                                        else
                                        {
                                            <a class="page-link" style="color:black">@pag</a>
                                        }

                                    </form>
                                </li>
                            }
                        }

                        <li class="page-item">
                            <form asp-action="Index" asp-controller="Emprestimo">
                                <input hidden name="searchString" value="@TempData["pesquisa"]">
                                <input hidden name="paginaAtual" value="@dados">
                                @if (dados != pagina)
                                {
                                    <button class="page-link" type="submit">@dados</button>
                                }
                                else
                                {
                                    <a class="page-link" style="color:black">@dados</a>
                                }
                            </form>
                        </li>


                        <form asp-action="Index" asp-controller="Emprestimo">
                            <input hidden name="searchString" value="@TempData["pesquisa"]">
                            <input hidden name="paginaAtual" value="@(pagina+1)">
                            @if (pagina != dados)
                            {
                                <button class="page-link" type="submit"><i class="bi bi-arrow-right"></i></button>
                            }
                            else
                            {
                                <a class="page-link"><i class="bi bi-arrow-right"></i></a>
                            }
                        </form>
                    }
                </ul>
            </nav>
        </div>

        <div class="qnt-func">
            <p style="color:gray">Mostrando @TempData["QuantidadeDadosTabela"] de @TempData["QuantidadeDados"] funcionários</p>
        </div>

        <div class="modal fade" id="ModelErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tente Novamente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ModelErro">
                            <p>@TempData["ErroAtualizacao"]</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditarEmprestimoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Emprestimo do </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="ModalEditarEmpresitmo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NovoEmprestimoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Empréstimo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="ModalNovoEmprestimo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/jquery.inputmask.js"></script>
    <script>

        $(document).ready(function () {

            var erroAtualizacao = "@TempData["ErroAtualizacao"]";
            var emprestimoId;

            if (erroAtualizacao) {
                setTimeout(function () {
                    $('#ModelErro').modal('show');
                }, 100);
            }
            $('.BtnEditar').click(function () {
                emprestimoId = $(this).attr('Emprestimo-id');
                $.ajax({
                    type: 'GET',
                    url: '/Emprestimo/Edit/' + emprestimoId,
                    success: function (result) {
                        $("#ModalEditarEmpresitmo").html(result);
                        $('#EditarEmprestimoModal').modal(`show`);
                    }
                })
            });
            $('#btnNovoEmprestimo').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Emprestimo/NovoEmprestimo',
                    success: function (result) {
                        $("#ModalNovoEmprestimo").html(result);
                        $('#NovoEmprestimoModal').modal('show');
                    }
                });
            });
        });
    </script>
}