@model CadastroUser

<div class="modal fade" id="@("DetalhesFuncModal"+Model.Id.ToString())" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes do Funcionario @Model.Nome</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="topico">
                    <label><u>Nome:</u></label>
                    <p>@Model.Nome</p>
                </div>
                <div class="topico">
                    <label><u>E-Mail:</u></label>
                    <p>@Model.Email</p>
                </div>
                <div class="topico">
                    <label><u>Telegram:</u></label>
                    <p>@Model.Telegram</p>
                </div>
                <div class="topico">
                    <label><u>Telefone:</u></label>
                    <p>@Model.Telefone</p>
                </div>
                <div class="topico">
                    <label><u>Status:</u></label><br />
                    <p>@Model.Status</p>
                </div>
                <div class="topico">
                    <label><u>Categoria:</u></label>
                    <p>@Model.Categoria</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#telefone").inputmask('(99) 99999-9999');
            $("#telegram").inputmask('(99) 99999-9999');
            $("#cpf").inputmask('999.999.999-99');
        });
    </script>
}
