@model CadastroUser
@{
    ViewData["Title"] = "Detalhes";
}
<input type="hidden" asp-for="@Model.Id" />
<h1>Edit</h1>

<h4>Detalhes do Funcionario @Model.Nome</h4>
<hr />
<div class="row">
    <label>Nome</label><br />
    <p>@Model.Nome</p>
    <label>E-Mail</label><br />
    <p>@Model.Email</p>
    <label>Telegram</label><br />
    <p>@Model.Telegram</p>
    <label>Telefone</label><br /> 
    <p>@Model.Telefone</p>
    <label>Status</label><br />
    <p>@Model.Status</p>
    <label>Categoria</label><br /> 
    <p>@Model.Categoria</p>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
