@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Acessor

@model IEnumerable<HD_SUPPORT.Models.CadastroUser>

@{
    ViewData["Title"] = "Funcionarios";
}

<div class="align-content-center">
    <div class="TableContainer">
        <div class="table-menu">
            <form asp-action="Index" asp-controller="CadastroFunc">
                <a role="button">
                    <i class="bi bi-search"></i>
                </a>
                <input type="search" placeholder="Faça sua pesquisa" name="SearchString">
            </form>
            <span>
                <a asp-action="Index">
                    <i class="bi bi-x-lg"></i>
                </a>
            </span>       
        </div>
        <table id="table-position" class="table table-hover">
            <thead class="thead-style">
                <tr class="tr-style">
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telegram)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>

                    <th scope="col"><div class="button-add"><a role="button" asp-action="NovoCadastro"><button>Adicionar</button></a></div></th>
                </tr>
            </thead>
            <tbody>
               
                    @foreach(var item in Model)
                    {
                    <tr class="tbody-style">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telegram)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                <a role="button" class="btn btn-success" asp-action="Detalhes" asp-route-id="@item.Id"><i class="bi bi-newspaper"></i></a>
                                <form asp-action="Excluir" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger" ><i class="bi bi-trash-fill"></i></button>
                                </form>
                            </div>

                        </td>
                    </tr>
                    } 
                
            </tbody>
        </table>



        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-right"></i></a></li>
                </ul>
            </nav>
        </div>

</div>




    
    